<?xml version="1.0"?>
<config>
    <modules>
        <SomethingDigital_EnterpriseIndexPerf>
            <version>1.2.0</version>
        </SomethingDigital_EnterpriseIndexPerf>
    </modules>

    <global>
        <resources>
            <sd_enterpriseindexperf_setup>
                <setup>
                    <module>SomethingDigital_EnterpriseIndexPerf</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>setup</use>
                </connection>
            </sd_enterpriseindexperf_setup>
        </resources>

        <models>
            <sd_enterpriseindexperf>
                <class>SomethingDigital_EnterpriseIndexPerf_Model</class>
            </sd_enterpriseindexperf>

            <bundle_resource>
                <rewrite>
                    <indexer_price>SomethingDigital_EnterpriseIndexPerf_Model_Bundle_Price_Refresh</indexer_price>
                </rewrite>
            </bundle_resource>

            <enterprise_index>
                <rewrite>
                    <changelog>SomethingDigital_EnterpriseIndexPerf_Model_Changelog</changelog>
                </rewrite>
            </enterprise_index>

            <enterprise_catalog>
                <rewrite>
                    <index_action_catalog_category_product_category_refresh>SomethingDigital_EnterpriseIndexPerf_Model_Catalog_Category_Product_Category_Refresh</index_action_catalog_category_product_category_refresh>
                    <index_action_catalog_category_product_category_refresh_changelog>SomethingDigital_EnterpriseIndexPerf_Model_Catalog_Category_Product_Category_Refresh_Changelog</index_action_catalog_category_product_category_refresh_changelog>
                    <index_action_catalog_category_product_category_refresh_row>SomethingDigital_EnterpriseIndexPerf_Model_Catalog_Category_Product_Category_Refresh_Row</index_action_catalog_category_product_category_refresh_row>
                    <index_action_catalog_category_product_refresh>SomethingDigital_EnterpriseIndexPerf_Model_Catalog_Category_Product_Refresh</index_action_catalog_category_product_refresh>
                    <index_action_catalog_category_product_refresh_changelog>SomethingDigital_EnterpriseIndexPerf_Model_Catalog_Category_Product_Refresh_Changelog</index_action_catalog_category_product_refresh_changelog>
                    <index_action_catalog_category_product_refresh_row>SomethingDigital_EnterpriseIndexPerf_Model_Catalog_Category_Product_Refresh_Row</index_action_catalog_category_product_refresh_row>
                    <index_action_url_rewrite_category_refresh>SomethingDigital_EnterpriseIndexPerf_Model_Url_Rewrite_Category_Refresh</index_action_url_rewrite_category_refresh>
                    <index_action_url_rewrite_category_refresh_changelog>SomethingDigital_EnterpriseIndexPerf_Model_Url_Rewrite_Category_Refresh_Changelog</index_action_url_rewrite_category_refresh_changelog>
                    <index_action_url_rewrite_category_refresh_row>SomethingDigital_EnterpriseIndexPerf_Model_Url_Rewrite_Category_Refresh_Row</index_action_url_rewrite_category_refresh_row>
                </rewrite>
            </enterprise_catalog>

            <enterprise_urlrewrite>
                <rewrite>
                    <index_action_url_rewrite_redirect_refresh>SomethingDigital_EnterpriseIndexPerf_Model_Url_Rewrite_Redirect_Refresh</index_action_url_rewrite_redirect_refresh>
                    <index_action_url_rewrite_redirect_refresh_changelog>SomethingDigital_EnterpriseIndexPerf_Model_Url_Rewrite_Redirect_Refresh_Changelog</index_action_url_rewrite_redirect_refresh_changelog>
                </rewrite>
            </enterprise_urlrewrite>
        </models>

        <events>
            <!-- Override PageCache reindexing to optimize product invalidation on reindex. -->
            <cataloginventory_stock_partial_reindex>
                <observers>
                    <enterprise_pagecache>
                        <class>sd_enterpriseindexperf/observer_pagecache</class>
                        <method>cleanProductsCacheAfterPartialReindex</method>
                    </enterprise_pagecache>
                </observers>
            </cataloginventory_stock_partial_reindex>
            <catalog_product_price_partial_reindex>
                <observers>
                    <enterprise_pagecache>
                        <class>sd_enterpriseindexperf/observer_pagecache</class>
                        <method>cleanProductsCacheAfterPartialReindex</method>
                    </enterprise_pagecache>
                </observers>
            </catalog_product_price_partial_reindex>
            <catalog_product_flat_partial_reindex>
                <observers>
                    <enterprise_pagecache>
                        <class>sd_enterpriseindexperf/observer_pagecache</class>
                        <method>cleanProductsCacheAfterPartialReindex</method>
                    </enterprise_pagecache>

                    <sd_enterpriseindexperf_merchandiser>
                        <class>sd_enterpriseindexperf/observer_merchandiser</class>
                        <method>updateProducts</method>
                    </sd_enterpriseindexperf_merchandiser>
                </observers>
            </catalog_product_flat_partial_reindex>
            <catalog_category_product_partial_reindex>
                <observers>
                    <enterprise_pagecache>
                        <class>sd_enterpriseindexperf/observer_pagecache</class>
                        <method>cleanProductsCacheAfterPartialReindex</method>
                    </enterprise_pagecache>
                </observers>
            </catalog_category_product_partial_reindex>
            <catalog_url_product_partial_reindex>
                <observers>
                    <enterprise_pagecache>
                        <class>sd_enterpriseindexperf/observer_pagecache</class>
                        <method>cleanProductsCacheAfterPartialReindex</method>
                    </enterprise_pagecache>
                </observers>
            </catalog_url_product_partial_reindex>

            <catalog_product_flat_full_reindex>
                <observers>
                    <sd_enterpriseindexperf_merchandiser>
                        <class>sd_enterpriseindexperf/observer_merchandiser</class>
                        <method>updateAllProducts</method>
                    </sd_enterpriseindexperf_merchandiser>
                </observers>
            </catalog_product_flat_full_reindex>
        </events>
    </global>

    <default>
        <catalog>
            <!-- This section does nothing if the Merchandiser is disabled. -->
            <merchandiser>
                <actions>
                    <newest>
                        <sorting_function>SomethingDigital_EnterpriseIndexPerf_Model_Merchandiser_Sorting::newestFirst</sorting_function>
                    </newest>
                    <instock_at_top>
                        <sorting_function>SomethingDigital_EnterpriseIndexPerf_Model_Merchandiser_Sorting::moveInStockToTheTop</sorting_function>
                    </instock_at_top>
                </actions>
            </merchandiser>
        </catalog>
    </default>

    <crontab>
        <jobs>
            <smart_merchandiser_reindex>
                <run>
                    <model>sd_enterpriseindexperf/observer_merchandiser::reindexCron</model>
                </run>
            </smart_merchandiser_reindex>
        </jobs>
    </crontab>
</config>
