<?xml version="1.0"?>
<config>
    <modules>
        <SomethingDigital_EnterpriseIndexPerf>
            <version>1.1.2</version>
        </SomethingDigital_EnterpriseIndexPerf>
    </modules>

    <global>
        <resources>
            <sd_enterpriseindexperf_setup>
                <setup>
                    <module>SomethingDigital_EnterpriseIndexPerf</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>setup</use>
                </connection>
            </sd_enterpriseindexperf_setup>
        </resources>

        <models>
            <sd_enterpriseindexperf>
                <class>SomethingDigital_EnterpriseIndexPerf_Model</class>
            </sd_enterpriseindexperf>

            <bundle_resource>
                <rewrite>
                    <indexer_price>SomethingDigital_EnterpriseIndexPerf_Model_Bundle_Price_Refresh</indexer_price>
                </rewrite>
            </bundle_resource>

            <enterprise_catalog>
                <rewrite>
                    <index_action_catalog_category_product_category_refresh>SomethingDigital_EnterpriseIndexPerf_Model_Catalog_Category_Product_Category_Refresh</index_action_catalog_category_product_category_refresh>
                    <index_action_catalog_category_product_category_refresh_changelog>SomethingDigital_EnterpriseIndexPerf_Model_Catalog_Category_Product_Category_Refresh_Changelog</index_action_catalog_category_product_category_refresh_changelog>
                    <index_action_catalog_category_product_category_refresh_row>SomethingDigital_EnterpriseIndexPerf_Model_Catalog_Category_Product_Category_Refresh_Row</index_action_catalog_category_product_category_refresh_row>
                    <index_action_catalog_category_product_refresh>SomethingDigital_EnterpriseIndexPerf_Model_Catalog_Category_Product_Refresh</index_action_catalog_category_product_refresh>
                    <index_action_catalog_category_product_refresh_changelog>SomethingDigital_EnterpriseIndexPerf_Model_Catalog_Category_Product_Refresh_Changelog</index_action_catalog_category_product_refresh_changelog>
                    <index_action_catalog_category_product_refresh_row>SomethingDigital_EnterpriseIndexPerf_Model_Catalog_Category_Product_Refresh_Row</index_action_catalog_category_product_refresh_row>
                    <index_action_url_rewrite_category_refresh>SomethingDigital_EnterpriseIndexPerf_Model_Url_Rewrite_Category_Refresh</index_action_url_rewrite_category_refresh>
                    <index_action_url_rewrite_category_refresh_changelog>SomethingDigital_EnterpriseIndexPerf_Model_Url_Rewrite_Category_Refresh_Changelog</index_action_url_rewrite_category_refresh_changelog>
                    <index_action_url_rewrite_category_refresh_row>SomethingDigital_EnterpriseIndexPerf_Model_Url_Rewrite_Category_Refresh_Row</index_action_url_rewrite_category_refresh_row>
                </rewrite>
            </enterprise_catalog>

            <enterprise_urlrewrite>
                <rewrite>
                    <index_action_url_rewrite_redirect_refresh>SomethingDigital_EnterpriseIndexPerf_Model_Url_Rewrite_Redirect_Refresh</index_action_url_rewrite_redirect_refresh>
                    <index_action_url_rewrite_redirect_refresh_changelog>SomethingDigital_EnterpriseIndexPerf_Model_Url_Rewrite_Redirect_Refresh_Changelog</index_action_url_rewrite_redirect_refresh_changelog>
                </rewrite>
            </enterprise_urlrewrite>
        </models>
    </global>
</config>
